/** This is some styling for the to do list app **/

body{
	font-family: 'Source Sans Pro', sans-serif;
}
div.logobox h3{ padding-top: 15px; }
a{
	cursor: pointer;
}

section#todolist > div{ margin-bottom: 10px; }